<div class="jumbotron bg-light">
    <h1 class="display-4 text-center">Here's how you have been feeling!</h1>
    <div class="container mt-4">
        <br>
        <div class="container mb-4 ">
            <div class="row">
                {{#each emojiData}}
                <div class="col-sm text-center">
                    <img class="rounded mx-auto d-block" src="/images/emojis/{{emoji}}Capture.PNG">
                    <h2 class="mt-4 fw-bold text-danger"> {{emojiCount}}</h2>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="container">
            <div class="row">
                {{#each status}}
                <div class="col-sm-12 col-lg-6 border border-dark">
                    <h5>{{diary}}</h5>
                    <div>
                        <img class="emoji" src="/images/emojis/{{emoji}}Capture.PNG">
                        <h6 class="created_at">{{format_date created_at}}</h6>
                    </div>
                    <div class="delete-post-btn" id="{{id}}"><i class="fas fa-trash-alt"></i></div>
                </div>

                {{/each}}
            </div>
        </div>
    </div>
</div>
{{!--
<div class="container">
    <div class="row">
        {{#each status}}
        <form class="edit-post-form" action="api/status/{{id}}" method="post">
            <div class="col-sm-12 col-lg-6 border border-dark">
                <input type="text" name="emoji" value="{{emoji}}">
                <input type="text" name="diary" value="{{diary}}">
                <div>
                    <img class="emoji" src="/images/emojis/{{emoji}}Capture.PNG">
                    <h6 class="created_at">{{format_date created_at}}</h6>
                </div>
            </div>
            <button type="submit">Save post</button>
            <button type="button" class="delete-post-btn">Delete post</button>
        </form>
        {{/each}}
    </div>
</div>
</div>
</div> --}}

<script src="/javascript/delete-status.js"></script>